@import "minireset.css";

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.board {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  position: relative;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell span {
  font-size: 3rem;
  position: absolute;
}
