@import "minireset.css";

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  border: 1px solid #0000009d;
  border-radius: 10px;
}

dialog input {
  font: inherit;
  border: 1px solid #000;
  border-radius: 5px;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

dialog p {
  font-size: 1.2rem;
}

dialog div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

dialog button {
  font: inherit;
}

.board {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  border: 1px solid #000;
}
